*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;

}
body{
    background-color: #383838;
}
.heading{
    text-align: center;
    padding-block: 20px;
    color: orange;
}
.heading span{
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.41);
cursor: pointer;
font-weight: bold;
font-size: 20px;
}
.main-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav{
    display: flex;
    background: #383838;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    height: 65px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* LEFT NAVBAR  */
.left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.left-nav ul{
    display: flex;
    gap: 23px;
}
.left-nav ul li{
    list-style: none;
}
.left-nav ul li a{
    color: white;
    text-decoration: none;
    font-family: "Inknut Antiqua", serif;
    font-size: 13px
}
.left-nav ul li a:hover{
    color: orange;
}

.logo-img{
    height: 40px;
    cursor: pointer;
    filter: invert();
}
/* RIGHT NAVBAR  */
.right-nav button{
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
    background: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
}
.right-nav i{
    display: none;
    color: white;
}
/* MAIN IMAGE  */
section{
    flex-grow: 1;
   
}
.main-img{
    /* background: #afa7a7; */
    height: 403px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    overflow: hidden;
}
.main-img::before {
    content: "";
    background-image: url("img/pexels-photo-1813272.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
}
/* SIDEBAR  */
.sidebar{
height: 100%;
width: 100%;
background: #e3e3e3;
/* text-align: center; */
overflow: hidden;
transform: translateX(100%);
transition: transform 0.3s ease-in;
/* display: none; */
}
.home-li{
    margin-top: 12px;
    /* margin-right: 6px; */
    margin-right: 2px;
}
.sidebar-li{
    display: flex;
    align-items: center;
    gap: 23px;
}
#home-a{
    margin-left: 6px;
}
#price{
    margin-top: -10px;
    font-size: 19px;
    padding-right: 7px;
    padding-left: 4px;
}
#deals{
    margin-top: -10px;
    font-size: 17px;
    padding-right: 2px;
    padding-left: 2px;
}
#grooms{
    margin-top: -10px;
    font-size: 17px;
    padding-right: 2px;
    padding-left: 4px;
}
#contact{
    margin-top: -10px;
    font-size: 17px;
    padding-right: 2px;
    padding-left: 4px;
}
.sidebar ul{
    margin-left: 15px;
}
.sidebar ul li{
    margin-bottom: 10px;
    list-style: none;
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
}
.sidebar ul li a:hover{
    color: orange;
}
.m-booking-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar button{
    padding: 3px 35px;
    border-radius: 8px;
    border: none;
    background: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

/* SALON PICS DIV  */

.salon-images{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    height: 500px;
    width: 1112px;
    margin-top: 32px;
    margin-inline: auto;
}
.salon-images img{
    height: 96%;
    width: 100%;
    border-radius: 10px;
    background-color: gray;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.about h2{
    text-align: center;
    color: orange;
}
.about p{
    color: white;
}
/* .salon-img{
    height: 96%;
    width: 25%;
    border-radius: 10px;
    background-color: gray;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
} */
.salon-images img:hover{
    transform: scale(1.01);
}


/* SALON SERVICES DIV  */

.services-images{
    display: flex;
    justify-content: space-between;
    width: 1112px;
    margin: auto;
    align-items: center;
    height: 500px;
    overflow: hidden;
}
.services-img{
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.services-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer;
}

.services-detail{
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
background-color: #1F1F1F;
    position: absolute;
    top: 100%;
    bottom: 0;
    z-index: 1;
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    gap: 23px;
    transition: transform 1s;
    opacity: 0.8;
}

.services-detail h2{
    color: white;
    font-size: 22px;
    text-align: center;

}
.services-detail ul{
    margin-inline: 54px;
}

/* DEAL N PACKAGES  */
.deals-div{
    width: 780px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.slide{
height: 550px;
width: 600px;
margin: auto;
border-radius: 10px;
overflow: hidden;
background-color: #1F1F1F;
align-content: center;
padding-inline: 50px;
display: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px insetu
}

.slide div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 4px;
    /* background-color: rebeccapurple; */
    /* height: 100%; */
}
.slide div span{
    font-size: 21px;
}
.name{
    color: white;
}
.price{
    color: #C0814F;
}
.slide-heading{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.slide img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.deals-div button{
    font-size: 50px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    color: white;
}
.deals-div button:hover{
    background-color: rgb(48, 45, 45);

}

/* CONTACT US PAGE  */
.contact-us{
margin-top: 20px;
height: 550px;
width: 600px;
margin: auto;
border-radius: 10px;
background: #1F1F1F;
display: flex;
flex-direction: column;
gap: 25px;
justify-content: center;
align-items: center;
overflow: hidden;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contact-us img{
    height: 100px;
    width: 130px;
}
.contact-us input{
    width: 80%;
    border: 1px solid white;
    outline: none;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    background-color: #989696;
    color: black;
    border-radius: 5px;
}
.contact-us input::placeholder , .contact-us textarea::placeholder{
    color: white;
}
.contact-us input:focus , .contact-us textarea:focus{
    border: 1px solid orange;
    background-color: #807d7d;

}
.contact-us input:hover , .contact-us textarea:hover{
    background-color: #807d7d;
    border: 1px solid orange;

}
.contact-us textarea{
    width: 80%;
    outline: none;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    background-color: #989696;
    color: white;
    border-radius: 5px;
    border: 1px solid white;

}

.contact-us button{
    padding: 0px 35px;
    border-radius: 20px;
    border: none;
    background-color: orange;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.contact-us button:hover{
    background-color: rgb(219, 139, 0);
}
.contact-us button:active{
    background-color: black;
    color: white;
}
/* FOOTER DATA  */

footer hr{
    margin-top: 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.social-icons img{
    height: 40px;
    cursor: pointer;
}
.copyright-text{
    text-align: center;
    font-size: 12px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    color: white;
}

/* MOBILE STYLE  */

/* TABLET  */
@media (max-width: 768px){
    .heading span{
        font-size: 18px;
    }
    .salon-images{
        width: 90%;
        height: 312px;
    }
    .about p{
        font-size: 10px;
    }
    .about h2{
        font-size: 18px;
    }
    .services-images{
        width: 90%;
        height: 312px;
        gap: 10px;
    }
    .services-detail h2{
        font-size: 14px;
    }
    .services-detail ul{
        font-size: 10px;
        margin-left: 32px;
    }
    .deals-div{
        width: 97%;
    }
    .slide{
        width: 100%;
    }
    .contact-us{
        width: 80%;
    }
}

/* LARGE MOBILE  */

@media (max-width: 470px){

    /* NAVBAR  */
    .left-nav ul{
        display: none;
    }
    .right-nav button{
        display: none;
    }
    #sidebar-icon{
        display: block;
        font-size: 20px;
    }
    #close-icon{
        /* display: block; */
        font-size: 23px;
    }
    .heading{
        padding-block: 8px;
    }
    .heading span{
        font-size: 14px;
    }
    .salon-images{
        height: auto;
        flex-wrap: wrap;
    }
    .salon-images img{
        height: 394px;
        width: 80%;
    }
    .about p{
        font-size: 9px;
        text-align: center;
    }
    .about h2{
        font-size: 15px;
    }
    .services-detail h2{
        font-size: 20px;
    }
    .services-detail ul{
        font-size: 13px;
        margin-inline: 0px;
        margin-left: 37px;
    }
    .services-images{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 22px;
    }
    .services-img{
        height: 380px;
        width: 80%;
        border-radius: 10px;
    }
    /* .services-img{
        width: 80%;
    } */
    .slide{
        padding-inline: 25px;
        height: 352px;
    }
    .slide-heading{
        font-size: 17px;
    }
    .slide div span{
        font-size:12px;
    }
    .deals-div{
        gap: 3px;
    }
    .contact-us{
        height: 463px;
    }
    .contact-us button{
        font-size: 13px;
    }
    .contact-us input{
        height: 32px;
    }
    .social-icons img{
        height: 30px;
    }
    .social-icons span{
        font-size: 7px;
    }
    .copyright-text span{
        font-size: 9px;
    }
}

/* MINI MOBILE  */
@media (max-width: 330px){
    .salon-images img{
        height: 315px;
    }
    .services-img{
        height: 315px;
    }
    .about h2{
        font-size: 11px;
    }
    .about p{
        font-size: 6px;
    }
    .heading span{
        font-size: 11px;
    }
    
    .services-detail{
        gap: 2px;
    }
    .services-detail h2{
        font-size: 16px;
    }
    .services-detail ul{
        font-size: 10px;
    }
    .slide div span{
        font-size: 10px;
    }
    .copyright-text span{
        font-size: 6px;
    }
}